.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  z-index: 100000000;
  position: sticky;
  top: 0px;
}

.App-link {
  color: #09d3ac;
  text-decoration-line: none;
  padding: 10px;
}

.App-main {
  min-height: 92vh;
  display: flex;
}